.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/graph.json
.obsidian/graph.json.backup-*
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/plugins/
.obsidian/themes/
.trash/
.env
